@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open Sans", sans-serif;
}
.nav-bar{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	padding-left: 10px;
	text-decoration: none;
	flex-wrap: wrap;
}
.nav-button{
	background-color: blue;
	color: black;
	padding: 10px;
	font-weight: bold;
	

}
a{
	text-decoration: none;
}
.nav-items{
	list-style: none;
	display: flex;
	gap: 40px;
	font-size: 18px;
	padding-left: 80px;
	padding-top: 60px;	
	margin-right: 50px;
	flex-wrap: wrap;
	
}
.hero{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('/images/hero.png');
	height: 600px;
}
h1{
	font-size: 80px;
	padding-top: 170px;
	color: white;
}
.hero-sub{
	font-size: 40px;
	color:white;
}
.hero{
	text-align: center;
}
.nav-bt{
	text-align: center;
	display: inline-block;
	background-color: white;
	font-weight: bold;
	color: black;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
}
.nav-bt:hover{
 
	background-color: rgb(193, 184, 184);
	transform: scale(1.1);

}

.about{
	
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.about-grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content:space-between;
	gap: 150px;
	align-items: center;

	
}
.about-text{
	line-height: 1.8;
	font-size: 20px;
}
.section-title{
	text-align: center;
	padding-top: 30px;
	font-size: 30px;
	padding-bottom: 10px;
	
}
.about-text{
	justify-content: left;
}
.about-img{
	justify-content: right;
}
.value-lead{
	text-align: center;
	font-size: 20px;

	padding-bottom: 20px;
	font-style: italic;
}
.value{
	background-color: #dcffa0;
	justify-content: 10px;
}
.value-flex{
	display: flex;
	justify-content: space-around;
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	padding-bottom: 80px;
	padding-top: 30px;
	
}
h4{
	text-align: center;
	padding-top: 30px;
	font-size: 40px;
}

.destination-grid{
	
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 20px;
	margin-top: 30px;
	padding: 20px;
	justify-content: space-evenly;
	
	
}
.destination-grid img{
	width: 100%;


}

.destination-layout img{
	border: 5px solid  #dcffa0;
	border-radius: 15px;
	
}
.dest-lead{
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
}
h5{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}
.Contact{
	background-color: #c0d6ff;
	padding-bottom: 40px;
	
}
.contact-flex{
	display: grid;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
	width:650px;
	border-radius: 15px;
	margin: auto;
	max-width: 100%;
}

label{
	display: block;
		margin-bottom: 10px;
		
}
input,textarea{
	width: 100%;
	font-size: 15px;
	padding: 1px;
	margin-bottom: 10px;
	font-family: inherit;
}
.text-area{
	text-align: center;
}
.sub-bt{
	text-align: center;
}
.sub-bt{
	background-color:#2a74ff;
	text-align: center;
	border: none;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 15px;
}
.sub-bt:hover{
 
	background-color: rgb(193, 184, 184);
	transform: scale(1.1);

}
footer{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 15px;
	padding: 10px;
}


@media screen and (max-width:730px){
 .about-grid{
	grid-template-columns: 1fr;}
 .value-flex{
		flex-direction: column;
 }
  .destination-grid{
	grid-template-columns: repeat(2,1fr);
 }
}
.sub-bt:hover{
	background-color: #70a0f7;
}

.destination-layout:hover img{
	transform: scale(1.02);
	
	
	transition: 0.5s ease;
}